---
import type { GetStaticPaths } from 'astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import json_programas from '@data/programas.json';

// Genera las rutas estaticas desde json
export const getStaticPaths = (() => {
  return json_programas.map((p) => {
    // p.link: "/programas/maestria/psicoterapia-psicoanalitica"
    const parts = p.link.split('/').filter(Boolean); // ["programas","maestria","psicoterapia-psicoanalitica"]
    const grado = parts[1];
    const name = parts[2];
    return { params: { grado, name } };
  });
}) satisfies GetStaticPaths;

// Parametros de la ruta
const { grado, name } = Astro.params;

// Recupera información del programa
const programa = json_programas.find((p) => p.link.endsWith(`/${grado}/${name}`));
console.log(programa);
---

<BaseLayout title={`${programa?.grado ?? ''}  ${programa?.titulo ?? 'Programa'}`}>
  <h1>{`${programa?.grado} ${programa?.titulo}`.trim()}</h1>
  {
    programa?.imgSrc && (
      <img src={programa.imgSrc} alt={programa.titulo} class="img-fluid rounded mb-4" />
    )
  }
  <p set:html={programa?.descripcion} />
</BaseLayout>
