---
interface Props {
  parentId: string;
  itemId: string;
  heading: string;
  icon?: string;
  startOpen?: boolean;
}

const { parentId, itemId, heading, icon, startOpen = false } = Astro.props as Props;

const collapseId = `${parentId}-${itemId}`;
const headingId = `${collapseId}-heading`;
---

<div class="accordion-item cies-accordion-card">
  <h3 class="accordion-header" id={headingId}>
    <button
      class:list={['accordion-button cies-accordion-button', !startOpen && 'collapsed']}
      type="button"
      data-bs-toggle="collapse"
      data-bs-target={`#${collapseId}`}
      aria-expanded={startOpen ? 'true' : 'false'}
      aria-controls={collapseId}
    >
      {/* contenedor del icono + texto */}
      <span class="d-flex align-items-center gap-2">
        {icon && (
          <span class="cies-accordion-icon">
            <i class={`bi bi-${icon}`} aria-hidden="true"></i>
          </span>
        )}
        <span>{heading}</span>
      </span>
    </button>
  </h3>
  <div
    id={collapseId}
    class:list={['accordion-collapse', 'collapse', startOpen && 'show']}
    aria-labelledby={headingId}
    data-bs-parent={`#${parentId}`}
  >
    <div class="accordion-body cies-accordion-body">
      <slot />
    </div>
  </div>
</div>
